footer {
    bottom: 0;
    width: 100%;
    padding-top: 40px;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
  }

  p {
    color:#696969;
    font-size: 20px;
}

  #facebook {
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 3px;
  }

  #instagram {
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 3px;
  }