.logo {
    min-width: 200px;
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.row {
    padding-top: 40px;
    padding-bottom: 40px;
}

.nav {
  align-items: center;
  justify-content: center;
  top: 20px;
}

a {
  color:#696969;
  font-size: 20px;
}

a:hover {
  text-decoration: none;
  color: white;
}
