<section>
<div class="container">
  <div class="content">
    <a routerLink="packaging/bottles">
      <div class="content-overlay"></div>
      <img class="content-image" src="/assets/images/etiq/bourdeaux.jpg" alt="Bourdeaux">
      <div class="content-details fadeIn-bottom fadeIn-left">
        <h4 class="content-title">Bourdeaux</h4>
      </div>
    </a>
  </div>
</div>

<div class="container">
  <div class="content">
    <a routerLink="packaging/bottles">
      <div class="content-overlay"></div>
      <img class="content-image" src="/assets/images/etiq/effervesens.jpg" alt="Effervesens">
      <div class="content-details fadeIn-bottom fadeIn-left">
        <h4 class="content-title">Effervesens</h4>
      </div>
    </a>
  </div>
</div>

<div class="container">
  <div class="content">
    <a routerLink="packaging/bottles">
      <div class="content-overlay"></div>
      <img class="content-image" src="/assets/images/etiq/larmuse1.jpg">
      <div class="content-details fadeIn-bottom fadeIn-left">
        <h4 class="content-title">Larmuse</h4>
      </div>
    </a>
  </div>
</div>

<div class="container">
  <div class="content">
    <a routerLink="packaging/bottles">
      <div class="content-overlay"></div>
      <img class="content-image" src="/assets/images/etiq/saint_cecile_rose.jpg">
      <div class="content-details fadeIn-bottom fadeIn-left">
        <h4 class="content-title">Sainte Cécile</h4>
      </div>
    </a>
  </div>
</div>
</section>