<!-- <section>
<div class="container">
  <div class="content">
    <a routerLink="packaging/bottles">
      <div class="content-overlay"></div>
      <img class="content-image" src="/assets/images/etiq/bourdeaux.jpg" alt="Bourdeaux">
      <div class="content-details fadeIn-bottom fadeIn-left">
        <h4 class="content-title">Bourdeaux</h4>
      </div>
    </a>
  </div>
</div>

<div class="container">
  <div class="content">
    <a routerLink="packaging/bottles">
      <div class="content-overlay"></div>
      <img class="content-image" src="/assets/images/etiq/effervesens.jpg" alt="Effervesens">
      <div class="content-details fadeIn-bottom fadeIn-left">
        <h4 class="content-title">Effervesens</h4>
      </div>
    </a>
  </div>
</div>

<div class="container">
  <div class="content">
    <a routerLink="packaging/bottles">
      <div class="content-overlay"></div>
      <img class="content-image" src="/assets/images/etiq/larmuse1.jpg">
      <div class="content-details fadeIn-bottom fadeIn-left">
        <h4 class="content-title">Larmuse</h4>
      </div>
    </a>
  </div>
</div>

<div class="container">
  <div class="content">
    <a routerLink="packaging/bottles">
      <div class="content-overlay"></div>
      <img class="content-image" src="/assets/images/etiq/saint_cecile_rose.jpg">
      <div class="content-details fadeIn-bottom fadeIn-left">
        <h4 class="content-title">Sainte Cécile</h4>
      </div>
    </a>
  </div>
</div>
</section> -->

<h1 class="display-4">Alexandra Diaz
  <br>
    <small class="text-muted">Designer packaging et communication</small>
  </h1>

<p>Raconter une histoire, traduire l'expression authentique du produit, sa carte d'identité, telle est ma philosophie de travail. Créatrice spécialisée dans le packaging depuis {{ experience }} ans, je suis à votre service pour donner une identité visuelle à vos projets.</p>
