<section>
  <div class="container">
    <div class="content">
      <a (click)="setTitle('ADCreativ - Plaquettes')"
      routerLink="plaquettes">
        <div class="content-overlay"></div>
        <img class="content-image" src="assets/images/plaquette/Chabanon.jpg" alt="Plaquette du domaine Alain Chabanon">
        <div class="content-details fadeIn-bottom fadeIn-left">
          <h4 class="content-title">Plaquettes</h4>
        </div>
      </a>
    </div>
  </div>
  
  <div class="container">
    <div class="content">
      <a (click)="setTitle('ADCreativ - Logos')" 
      routerLink="logos">
        <div class="content-overlay"></div>
        <img class="content-image" src="assets/images/LOGOS/Logo-Pams.png" alt="Logo Pam's">
        <div class="content-details fadeIn-bottom fadeIn-left">
          <h4 class="content-title">Logos</h4>
        </div>
      </a>
    </div>
  </div>
  
  <div class="container">
    <div class="content">
      <a (click)="setTitle('ADCreativ - PLV')"
      routerLink="PLV">
        <div class="content-overlay"></div>
        <img class="content-image" src="assets/images/PLV/Kakemono-Terroir2.jpg" alt="Kakemono Terroir">
        <div class="content-details fadeIn-bottom fadeIn-left">
          <h4 class="content-title">PLV</h4>
        </div>
      </a>
    </div>
  </div>
  
  <div class="container">
    <div class="content">
      <a (click)="setTitle('ADCreativ - Pubs')"
      routerLink="pubs">
        <div class="content-overlay"></div>
        <img class="content-image" src="assets/images/PUB/Facebook-Castelbarry.jpg" alt="Publicité Facebook Castelbarry">
        <div class="content-details fadeIn-bottom fadeIn-left">
          <h4 class="content-title">Pubs</h4>
        </div>
      </a>
    </div>
  </div>
  </section>