<section>
  <div class="container">
    <div class="content">
      <a (click)="setTitle('ADCreativ - Plaquettes')"
      routerLink="leaflets">
        <div class="content-overlay"></div>
        <img class="content-image" src="assets/images/plaquette/Chabanon.jpg" alt="Plaquette du domaine Alain Chabanon">
        <div class="content-details fadeIn-bottom fadeIn-left">
          <h4 class="content-title">Plaquettes</h4>
        </div>
      </a>
    </div>
  </div>
  
  <div class="container">
    <div class="content">
      <a routerLink="logos">
        <div class="content-overlay"></div>
        <img class="content-image" src="assets/images/LOGOS/Logo-Pams.png" alt="Logo Pam's">
        <div class="content-details fadeIn-bottom fadeIn-left">
          <h4 class="content-title">Logos</h4>
        </div>
      </a>
    </div>
  </div>
  
  <div class="container">
    <div class="content">
      <a routerLink="POSDisplay">
        <div class="content-overlay"></div>
        <img class="content-image" src="assets/images/PLV/Kakemono-Terroir2.jpg" alt="Kakemono Terroir">
        <div class="content-details fadeIn-bottom fadeIn-left">
          <h4 class="content-title">PLV</h4>
        </div>
      </a>
    </div>
  </div>
  
  <div class="container">
    <div class="content">
      <a routerLink="printAdvert">
        <div class="content-overlay"></div>
        <img class="content-image" src="assets/images/PUB/Pub-BIODIS.png" alt="Publicité Biodis">
        <div class="content-details fadeIn-bottom fadeIn-left">
          <h4 class="content-title">Pubs</h4>
        </div>
      </a>
    </div>
  </div>
  </section>