<section>
  <div class="container">
    <div class="content">
      <a (click)="setTitle('ADCreativ - Plaquettes')"
      routerLink="leaflets">
        <div class="content-overlay"></div>
        <img class="content-image" src="assets/images/plaquette/Chabanon.jpg" alt="Plaquette du domaine Alain Chabanon">
        <div class="content-details fadeIn-bottom fadeIn-left">
          <h4 class="content-title">Plaquettes</h4>
        </div>
      </a>
    </div>
  </div>
  
  <div class="container">
    <div class="content">
      <a routerLink="logos">
        <div class="content-overlay"></div>
        <img class="content-image" src="https://images.unsplash.com/photo-1433360405326-e50f909805b3?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=359e8e12304ffa04a38627a157fc3362">
        <div class="content-details fadeIn-bottom fadeIn-left">
          <h4 class="content-title">Logos</h4>
        </div>
      </a>
    </div>
  </div>
  
  <div class="container">
    <div class="content">
      <a routerLink="POSDisplay">
        <div class="content-overlay"></div>
        <img class="content-image" src="https://images.unsplash.com/photo-1433360405326-e50f909805b3?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=359e8e12304ffa04a38627a157fc3362">
        <div class="content-details fadeIn-bottom fadeIn-left">
          <h4 class="content-title">PLV</h4>
        </div>
      </a>
    </div>
  </div>
  
  <div class="container">
    <div class="content">
      <a routerLink="printAdvert">
        <div class="content-overlay"></div>
        <img class="content-image" src="https://images.unsplash.com/photo-1433360405326-e50f909805b3?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=359e8e12304ffa04a38627a157fc3362">
        <div class="content-details fadeIn-bottom fadeIn-left">
          <h4 class="content-title">Pubs</h4>
        </div>
      </a>
    </div>
  </div>
  </section>