<div class="container-fluid" id="bgDiv">
  <figure></figure>
	<figure></figure>
	<figure></figure>
<ng-sidebar-container (onBackdropClicked)="_onBackdropClicked()">
 
    <!-- A sidebar -->
    <ng-sidebar [(opened)]="_opened"
    mode="over"
    [keyClose]="_keyClose"
    position="right"
    [autoCollapseHeight]="_autoCollapseHeight"
    [autoCollapseWidth]="_autoCollapseWidth"
    [closeOnClickOutside]="_closeOnClickOutside"
    [closeOnClickBackdrop]="_closeOnClickBackdrop"
    [showBackdrop]="_showBackdrop"
    [animate]="_animate"
    [trapFocus]="_trapFocus"
    [autoFocus]="_autoFocus"
    [ariaLabel]="'My sidebar'"
    (onOpenStart)="_onOpenStart()"
    (onOpened)="_onOpened()"
    (onCloseStart)="_onCloseStart()"
    (onClosed)="_onClosed()"
    (onTransitionEnd)="_onTransitionEnd()">

    <button type="button" class="close" aria-label="Close">
      <a aria-hidden="true" closeSidebar>&times;</a>
    </button>

    <ul class="nav flex-column">
      <li class="nav-item"><p (click)="setTitle('ADCreativ - Références')" 
        (click)="changeBGtoBrown($event)" routerLink="clients" closeSidebar>Références</p></li>
      <li class="nav-item"><p (click)="setTitle('ADCreativ - Contact')" 
        (click)="changeBGtoBrown($event)" routerLink="contact" closeSidebar>Contact</p></li>
      <li class="nav-item"><p (click)="setTitle('ADCreativ - Mentions légales')" 
        (click)="changeBGtoBrown($event)" routerLink="legalNotice" closeSidebar>Mentions légales</p></li>

    </ul>

        
    </ng-sidebar>

    <!-- Page content -->
    <div ng-sidebar-content>
      <img class="sidebarIcon" src="assets/images/hamburgericon1.png" alt="Sidebar icon" (click)="_toggleOpened()">
      
      <section class="contents">
      <app-header></app-header>
      <div class="pages-container">
        <router-outlet></router-outlet>
        </div>
        
        <app-footer></app-footer>
    </section>
    </div>

  </ng-sidebar-container>
</div>




