<h2>Création d'étiquettes de vin</h2>

<h4>Rhonéa</h4>

<div class="box">
<p>Conception du format des cartons, commande et suivi de production auprès de l'imprimerie pour la coopérative <a href="https://www.rhonea.fr/" target="_blank">Rhonéa</a></p>

<img class="img-fluid" src="assets/images/carton/carton-rhonea.jpg" alt="Carton Rhonéa">
</div>


<h4>Daronton</h4>

<div class="box">
<img class="img-fluid" src="assets/images/carton/carton-daronton.jpg" alt="Carton Daronton">

<p>Conception du graphisme et choix de la typographie des cartons à la demande du <a href="http://www.terroirdaronton.fr/" target="_blank">Terroir Daronton</a></p>
</div>



