<section>
  <div class="container">
    <div class="content">
      <a (click)="setTitle('ADCreativ - Bouteilles')"
      routerLink="bouteilles">
        <div class="content-overlay"></div>
        <img class="content-image" src="assets/images/etiq/bourdeaux.png" alt="La Bastide">
        <div class="content-details fadeIn-bottom fadeIn-left">
          <h4 class="content-title">Bouteilles</h4>
        </div>
      </a>
    </div>
  </div>
  
  <div class="container">
    <div class="content">
      <a (click)="setTitle('ADCreativ - Cartons')" 
      routerLink="cartons">
        <div class="content-overlay"></div>
        <img class="content-image" src="assets/images/carton/carton-rhonea.png" alt="Rhonea">
        <div class="content-details fadeIn-bottom fadeIn-left">
          <h4 class="content-title">Cartons</h4>
        </div>
      </a>
    </div>
  </div>
  
  <div class="container">
    <div class="content">
      <a (click)="setTitle('ADCreativ - Bibs')"
      routerLink="bibs">
        <div class="content-overlay"></div>
        <img class="content-image" src="assets/images/bib/col_du_vent_bib.png" Alt="Col du Vent">
        <div class="content-details fadeIn-bottom fadeIn-left">
          <h4 class="content-title">Bibs</h4>
        </div>
      </a>
    </div>
  </div>
  
  <div class="container">
    <div class="content">
      <a (click)="setTitle('ADCreativ - Huile d\'olive')"
      routerLink="huiledolive">
        <div class="content-overlay"></div>
        <img class="content-image" src="assets/images/HO/Rhonea-HO-bouchon.png" alt="Huile d'olive">
        <div class="content-details fadeIn-bottom fadeIn-left">
          <h4 class="content-title">Huile d'Olive</h4>
        </div>
      </a>
    </div>
  </div>
  </section>