
h2 {
    color: white;
}

h4 {
    color: #A8E6CE;
    padding-top: 30px;
    padding-bottom: 30px;
}
p {
    width: 60%;
    color: #b2b2b2;
    font-size: 20px;
    padding-right: 40px;
    a {
      color: #b2b2b2;
      font-size: 20px;
          &:hover {
          text-decoration: none;
          color: white;
      }
    }
}

img {
    height: 300px;
    width: auto;
    padding-right: 40px;
    cursor: pointer;
}

.nav {
  align-items: center;
  display: flex;
  justify-content: center;
  top: 20px;
}

a {
  color:#696969;
  font-size: 15px;
  width: auto;
}

a:hover {
  text-decoration: none;
  color: white;
}

// #zoomRhonea {
//     display: none;
//   }

// .rhonea {
//     transition: transform 0.5s ease;
//     cursor: zoom-in;
// }

// #zoomRhonea:checked ~ label > img {
//     transform: translate(-40px) scale(2);
//     cursor: zoom-out;
//   }

// #zoomPerdrix {
//     display: none;
//   }

// .perdrix {
//     transition: transform 0.5s ease;
//     cursor: zoom-in;
// }

// #zoomPerdrix:checked ~ label > img {
//     transform: translate(40px) scale(2);
//     cursor: zoom-out;
// }

.box {
    display: flex;
    align-items:center;
    width: 80%;
}

@media screen and (max-width: 640px){
    .box{
      display: block;
      width: 100%;
    }
  }
  
  @media screen and (min-width: 900px){
    .box{
      width: 80%;
    }
  }